// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

.pagerow {
  @extend .row;
  width:100%;
}

#mainVideo {
  // text-align:center;
  // position:fixed;
  // background-clip: border-box;
  // background-color: #000;
  // top: 0;
  // z-index: 0;
}

#view-on-youtube-tab {
  text-transform:uppercase;
  font-family:"Futura Condensed Medium", Futura, Arial, serif;
  position:fixed;
  top:0px;
  right:80px;
  padding: 10px 10px 10px 10px;
  background-color:#343434;
  color:#efefef;
  border-style:solid;
  border-width:3px;
  border-color:#6a6a6a;
  border-top-style:none;
  z-index:1000;
}

#videoDescription {
  position:fixed;
  top:36%;
  margin-top:-2em;
  left:50%;
  margin-left:-360px;
  font-family:"Futura Condensed Medium", Futura, Arial, serif;
  text-transform:uppercase;
  text-shadow: black 0.05em 0.05em 0.05em;
  z-index:2;
}

#page {
  position:relative;
  margin-top:780px;
  background-image:-webkit-radial-gradient(rgba(10, 10, 10, .1) 1.9px, #111 1px);
  background-image:radial-gradient(circle at center center , rgba(10, 10, 10, 0.1) 0%, rgb(10, 10, 10) 20%);
  // background-color:#F1F1F1;
  background-attachment:scroll;
  background-size:8px 8px;
  background-z-index:1;
  box-shadow:0px 0px 10px #f1f1f1;
  z-index:3;
  color:#ddd;
  padding-top:40px;
}

#page-mobile {
  background-color:#1a1a1a;
  color:#ddd;
}

#content {

  font-family:"Futura Condensed Medium", Futura, Arial, serif;
  text-transform:uppercase;
  text-shadow: black 0.1em 0.1em 0.1em;

  img {
    @extend .hide-for-small;
    position:absolute;
    width:95%;
    text-align:center;
  }

  #wireframe {
    width: 60%;
    margin-top: 40px;
    margin-left: 80px;
  }
  #plain, #color {
    width:45%;
    margin-top: 280px;
  }
  #color { margin-left:50%; }

  .sixWithLeftBorder {
    @extend .six;
    border-left-color: #969;
    border-left-style: solid;
    border-left-width: 6px;
    border-bottom-color: #969;
    border-bottom-style: solid;
    border-bottom-width: 6px;
  }
}

h1, h2, h3, h4, h5 {
  font-family:"Futura Condensed Medium", Futura, Arial, serif;
  color: #eee;
}

#title {
  margin-bottom:40px;
  cursor:pointer;

  // #head {
  //   width:90px;
  //   display:block;
  //   margin-left:auto;
  //   margin-right:auto;
  // }

  #right {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

#preorder {

  padding-bottom:20px;

  #preorderItem {
    color: #ff3333;
  }

  ul {
    list-style-type: none;
    margin-left: 20px;
  }

  ul li{
    @extend h4;
    white-space:nowrap;
    padding-top:30px;
  }

  h3 {
    text-align: center;
  }

}

#social {

  margin-top: 20px;
  text-align: center;

  ul {
    list-style-type: none;
  }

  ul li{
    text-align:left;
    white-space:nowrap;
    margin-left: 20px;
    display: inline;
    font-size:1.3em;
  }
}


#tourDates {

  margin-left: 30px;
  .month {
    font-size:larger;
    text-align:left;
  }

  ul {
    list-style-type: none;
  }

  ul li{
    text-align:left;
    white-space:nowrap;

  }

  .ticket {
    color:#ff3366;
  }

  .ticket:hover{
    color:#cccccc;
  }

}

#tourDates-mobile {
  margin-left: 30px;
  .month {
    font-size:larger;
    text-align:left;
  }

  ul {
    list-style-type: none;
  }

  ul li{
    font-size:0.6em;
    text-align:left;
    white-space:nowrap;

  }

  .ticket {
    font-size:0.8em;
    color:#ff3366;
  }

  .ticket:hover{
    color:#cccccc;
  }

}


#contact {
  padding-bottom:20px;

  ul {
    list-style-type: none;
    margin-left: 20px;
  }

  ul li{
    text-align:left;
    white-space:nowrap;
  }
}
